{% extends 'base.html' %} {% block main_content %}
<h1>Your Account</h1>
{% if account %}
<table>
  <tr>
    <td>Name</td>
    <td>Score</td>
    <td>Quantity</td>
    <td>Total</td>
    <td>Modify</td>
    <td>Delete</td>
  </tr>

  {% for activity_id in account %}

  <tr>
    <td>{{names[activity_id]}}</td>

    <td>{{scores[activity_id]}}</td>
    <td>{{account[activity_id]}}</td>
    <td></td>
    <td></td>
    <td>
      <a href="{{url_for('delete_in_account',activity_id=activity_id)}}"
        >Delete</a
      >
    </td>
  </tr>

  {% endfor %}
  <tr>
    <td>Sum</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
<button><a href="{{url_for('empty')}}">Empty account</a></button>
{% else %}
<p>Your account is empty! add more now</p>

{% endif %}
<button>
  <a href="{{url_for('activities')}}">Add activity</a>
</button>
<button>
  <a href="{{url_for('insert_activities')}}">create new activity</a>
</button>
<button>confirm</button>{% endblock %}

<form action="" method="POST" novalidate>
  {{form.hidden_tag()}} {{form.checkout.label}}
  <p>{{form.checkout()}}</p>
</form>
-->

<!-- 注意endif 是在else 之后 -->
<!-- <tr>
              <td>{{wine[wine_id]}}</td>
              <td>{{wine[name]}}</td>
              <td>{{wine[score]}}</td>
            </tr> -->
